@charset "utf-8";

h1 {
    color: blue;
    background-color: lightblue;
}

h2 {
    background-color:lightslategray;
}

h3 {
    color: red; /* blueviolet */
}

h4 {
    color:cadetblue
}

p {
    line-height: 30px;
    color: lightsalmon;
}

code {
    font-weight: 600;
    color: darkblue;
}